In [ ]:
## Date: May 15 2021
## Author: Benjamin Diethelm-Varela
## Tools for extracting stock data using Python

This is a small demonstration on how to collect, webscrape and visualize stock data using Pytohn librares.

Two key tools used here are yfinance and BeautifulSoup.

In [83]:
%matplotlib widget
import yfinance as yf
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [71]:
# Use ticker module to retrieve info from a company. Say: IBM
ibm = yf.Ticker('IBM')

# Use the info method to display the info. It is displayed as a dict
ibm.info

{'zip': '10504',
 'sector': 'Technology',
 'fullTimeEmployees': 345900,
 'longBusinessSummary': "International Business Machines Corporation provides integrated solutions and services worldwide. Its Cloud & Cognitive Software segment offers software for vertical and domain-specific solutions in health, financial services, supply chain, and asset management, weather, and security software and services application areas; and customer information control system and storage, and analytics and integration software solutions to support client mission critical on-premise workloads in banking, airline, and retail industries. It also offers middleware and data platform software, including Red Hat that enables the operation of clients' hybrid multi-cloud environments; and Cloud Paks, WebSphere distributed, and analytics platform software, such as DB2 distributed, information integration, and enterprise content management, as well as IoT, Blockchain and AI/Watson platforms. The company's Global Business Services segment offers business consulting services; system integration, application management, maintenance, and support services for packaged software; and finance, procurement, talent and engagement, and industry-specific business process outsourcing services. Its Global Technology Services segment provides IT infrastructure and platform services; and project, managed, outsourcing, and cloud-delivered services for enterprise IT infrastructure environments; and IT infrastructure support services. The company's Systems segment offers servers for businesses, cloud service providers, and scientific computing organizations; data storage products and solutions; and z/OS, an enterprise operating system, as well as Linux. Its Global Financing segment provides lease, installment payment, loan financing, short-term working capital financing, and remanufacturing and remarketing services. The company was formerly known as Computing-Tabulating-Recording Co. The company was incorporated in 1911 and is headquartered in Armonk, New York.",
 'city': 'Armonk',
 'phone': '914 499 1900',
 'state': 'NY',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.ibm.com',
 'maxAge': 1,
 'address1': 'One New Orchard Road',
 'industry': 'Information Technology Services',
 'previousClose': 144.17,
 'regularMarketOpen': 145.11,
 'twoHundredDayAverage': 126.87189,
 'trailingAnnualDividendYield': 0.045224387,
 'payoutRatio': 1.1087999,
 'volume24Hr': None,
 'regularMarketDayHigh': 145.69,
 'navPrice': None,
 'averageDailyVolume10Day': 5692612,
 'totalAssets': None,
 'regularMarketPreviousClose': 144.17,
 'fiftyDayAverage': 139.29514,
 'trailingAnnualDividendRate': 6.52,
 'open': 145.11,
 'toCurrency': None,
 'averageVolume10days': 5692612,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 6.56,
 'exDividendDate': 1620345600,
 'beta': 1.226203,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 143.96,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 24.202072,
 'regularMarketVolume': 2747385,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 129274904576,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 5746914,
 'priceToSalesTrailing12Months': 1.752191,
 'dayLow': 143.96,
 'ask': 144.84,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 2747385,
 'fiftyTwoWeekHigh': 148.74,
 'forwardPE': 12.006639,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 4.37,
 'fiftyTwoWeekLow': 105.92,
 'bid': 144.76,
 'tradeable': False,
 'dividendYield': 0.045500003,
 'bidSize': 3100,
 'dayHigh': 145.69,
 'exchange': 'NYQ',
 'shortName': 'International Business Machines',
 'longName': 'International Business Machines Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'IBM',
 'messageBoardId': 'finmb_112350',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 2.431,
 'beta3Year': None,
 'profitMargins': 0.07278,
 'enterpriseToEbitda': 11.338,
 '52WeekChange': 0.19019413,
 'morningStarRiskRating': None,
 'forwardEps': 12.05,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 893523008,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 23.938,
 'sharesShort': 28585173,
 'sharesPercentSharesOut': 0.032,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.58194,
 'netIncomeToCommon': 5280999936,
 'trailingEps': 5.978,
 'lastDividendValue': 1.64,
 'SandP52WeekChange': 0.41299164,
 'priceToBook': 6.0439467,
 'heldPercentInsiders': 0.0013600001,
 'nextFiscalYearEnd': 1672444800,
 'mostRecentQuarter': 1617148800,
 'shortRatio': 4.96,
 'sharesShortPreviousMonthDate': 1617148800,
 'floatShares': 890047024,
 'enterpriseValue': 179387875328,
 'threeYearAverageReturn': None,
 'lastSplitDate': 927763200,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1620345600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.187,
 'dateShortInterest': 1619740800,
 'pegRatio': 2.32,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.032,
 'sharesShortPriorMonth': 27009286,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 144.68,
 'logo_url': 'https://logo.clearbit.com/ibm.com'}

In [72]:
# Use the country key to see where this stock is from
ibm.info['country']

'United States'

In [73]:
# Use the history method to get the share price of a stock over the defined time (in this case the longest stretch possible)
ibmhist = ibm.history(period='max')
ibmhist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1962-01-02,1.858593,1.858593,1.837710,1.837710,390000,0.0,0.0
1962-01-03,1.837710,1.853774,1.837710,1.853774,292500,0.0,0.0
1962-01-04,1.853772,1.853772,1.834496,1.835299,262500,0.0,0.0
1962-01-05,1.832889,1.832889,1.795942,1.799155,367500,0.0,0.0
1962-01-08,1.797550,1.797550,1.750964,1.765422,547500,0.0,0.0
...,...,...,...,...,...,...,...
2021-05-10,145.800003,148.380005,145.800003,146.169998,6983400,0.0,0.0
2021-05-11,144.990005,145.190002,142.899994,144.220001,7126400,0.0,0.0
2021-05-12,143.839996,144.149994,141.139999,141.300003,5959600,0.0,0.0
2021-05-13,141.449997,144.899994,141.279999,144.169998,4595800,0.0,0.0
2021-05-14,145.110001,145.690002,143.960007,144.679993,2746900,0.0,0.0

In [74]:
ibmhist = ibmhist.reset_index()

In [75]:
ibmhist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1962-01-02,1.858593,1.858593,1.837710,1.837710,390000,0.0,0.0
1,1962-01-03,1.837710,1.853774,1.837710,1.853774,292500,0.0,0.0
2,1962-01-04,1.853772,1.853772,1.834496,1.835299,262500,0.0,0.0
3,1962-01-05,1.832889,1.832889,1.795942,1.799155,367500,0.0,0.0
4,1962-01-08,1.797550,1.797550,1.750964,1.765422,547500,0.0,0.0
...,...,...,...,...,...,...,...,...
14940,2021-05-10,145.800003,148.380005,145.800003,146.169998,6983400,0.0,0.0
14941,2021-05-11,144.990005,145.190002,142.899994,144.220001,7126400,0.0,0.0
14942,2021-05-12,143.839996,144.149994,141.139999,141.300003,5959600,0.0,0.0
14943,2021-05-13,141.449997,144.899994,141.279999,144.169998,4595800,0.0,0.0
14944,2021-05-14,145.110001,145.690002,143.960007,144.679993,2746900,0.0,0.0

In [76]:
# Let's plot open prices against dates!!
plt.figure();
sns.lineplot(data=ibm.history(period='max').reset_index(), x='Date', y='Open', alpha=0.75, color='darkred');
plt.title('IBM stocks open price history')
plt.ylabel('Open price (US dollars)')
plt.xlabel('Date (year)')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 0, 'Date (year)')

In [77]:
divs = pd.DataFrame(ibm.dividends)

In [78]:
divs = divs.reset_index()
divs

          Date  Dividends
0   1962-02-06   0.001000
1   1962-05-08   0.001000
2   1962-08-07   0.001000
3   1962-11-05   0.001000
4   1963-02-05   0.001333
..         ...        ...
231 2020-05-07   1.630000
232 2020-08-07   1.630000
233 2020-11-09   1.630000
234 2021-02-09   1.630000
235 2021-05-07   1.640000

[236 rows x 2 columns]

In [79]:
plt.figure();
sns.lineplot(data=divs, x='Date', y='Dividends', color='darkgreen');
plt.title('IBM dividends over time');
plt.ylabel('Dividends (dollar return per owned share)');
plt.xlabel('Date (year)');

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Further data extraction with BeautifulSoup webscraping

In [84]:
# Assign url to variable and get text
page = requests.get(' https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true').text

In [86]:
# Parse html data with BeautifulSoup
beautiful_soup = BeautifulSoup(page, "html5lib")

In [87]:
# Check the title atribute
beautiful_soup.title

In [95]:
# Let's extract a table with historical share prices. We first take a look at the columns we need to make
for row in beautiful_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    for item in col:
        print(item.text)
    
# We can see that we get one date item followed by 6 items. In stocks jargon these correspond to open, high, low, close, volume,
# and adjusted close

Jan 01, 2021
3,270.00
3,363.89
3,086.00
3,206.20
3,206.20
71,528,900
Dec 01, 2020
3,188.50
3,350.65
3,072.82
3,256.93
3,256.93
77,556,200
Nov 01, 2020
3,061.74
3,366.80
2,950.12
3,168.04
3,168.04
90,810,500
Oct 01, 2020
3,208.00
3,496.24
3,019.00
3,036.15
3,036.15
116,226,100
Sep 01, 2020
3,489.58
3,552.25
2,871.00
3,148.73
3,148.73
115,899,300
Aug 01, 2020
3,180.51
3,495.00
3,073.00
3,450.96
3,450.96
83,516,600
Jul 01, 2020
2,757.99
3,344.29
2,754.00
3,164.68
3,164.68
127,502,000
Jun 01, 2020
2,448.00
2,796.00
2,437.13
2,758.82
2,758.82
87,818,300
May 01, 2020
2,336.80
2,525.45
2,256.38
2,442.37
2,442.37
82,584,400
Apr 01, 2020
1,932.97
2,475.00
1,889.15
2,474.00
2,474.00
124,609,800
Mar 01, 2020
1,906.49
1,996.33
1,626.03
1,949.72
1,949.72
163,809,100
Feb 01, 2020
2,010.60
2,185.95
1,811.13
1,883.75
1,883.75
92,510,100
Jan 01, 2020
1,875.00
2,055.72
1,815.34
2,008.72
2,008.72
84,698,300
Dec 01, 2019
1,804.40
1,901.40
1,735.00
1,847.84
1,847.84
68,149,600
Nov 01, 2019
1,788.01
1,824.69
1,722.71
1,800.80
1,800.80
52,076,200
Oct 01, 2019
1,746.00
1,798.85
1,685.06
1,776.66
1,776.66
70,360,500
Sep 01, 2019
1,770.00
1,853.66
1,709.22
1,735.91
1,735.91
61,172,900
Aug 01, 2019
1,871.72
1,897.92
1,743.51
1,776.29
1,776.29
79,771,200
Jul 01, 2019
1,922.98
2,035.80
1,849.44
1,866.78
1,866.78
73,148,800
Jun 01, 2019
1,760.01
1,935.20
1,672.00
1,893.63
1,893.63
74,746,500
May 01, 2019
1,933.09
1,964.40
1,772.70
1,775.07
1,775.07
98,214,400
Apr 01, 2019
1,800.11
1,956.34
1,798.73
1,926.52
1,926.52
81,239,200
Mar 01, 2019
1,655.13
1,823.75
1,586.57
1,780.75
1,780.75
100,832,200
Feb 01, 2019
1,638.88
1,673.06
1,566.76
1,639.83
1,639.83
80,936,900
Jan 01, 2019
1,465.20
1,736.41
1,460.93
1,718.73
1,718.73
134,001,700
Dec 01, 2018
1,769.46
1,778.34
1,307.00
1,501.97
1,501.97
154,812,700
Nov 01, 2018
1,623.53
1,784.00
1,420.00
1,690.17
1,690.17
139,290,000
Oct 01, 2018
2,021.99
2,033.19
1,476.36
1,598.01
1,598.01
183,220,800
Sep 01, 2018
2,026.50
2,050.50
1,865.00
2,003.00
2,003.00
94,445,500
Aug 01, 2018
1,784.00
2,025.57
1,776.02
2,012.71
2,012.71
96,575,800
Jul 01, 2018
1,682.70
1,880.05
1,678.06
1,777.44
1,777.44
97,521,100
Jun 01, 2018
1,637.03
1,763.10
1,635.09
1,699.80
1,699.80
85,941,300
May 01, 2018
1,563.22
1,635.00
1,546.02
1,629.62
1,629.62
71,615,500
Apr 01, 2018
1,417.62
1,638.10
1,352.88
1,566.13
1,566.13
129,919,600
Mar 01, 2018
1,513.60
1,617.54
1,365.20
1,447.34
1,447.34
130,400,100
Feb 01, 2018
1,445.00
1,528.70
1,265.93
1,512.45
1,512.45
137,784,000
Jan 01, 2018
1,172.00
1,472.58
1,170.51
1,450.89
1,450.89
96,371,200
Dec 01, 2017
1,172.05
1,194.78
1,124.74
1,169.47
1,169.47
57,760,200
Nov 01, 2017
1,105.40
1,213.41
1,086.87
1,176.75
1,176.75
77,165,000
Oct 01, 2017
964.00
1,122.79
950.37
1,105.28
1,105.28
83,334,100
Sep 01, 2017
984.20
1,000.00
931.75
961.35
961.35
59,291,800
Aug 01, 2017
996.11
1,006.40
936.33
980.60
980.60
77,391,800
Jul 01, 2017
972.79
1,083.31
951.00
987.78
987.78
78,812,400
Jun 01, 2017
998.59
1,017.00
927.00
968.00
968.00
96,135,400
May 01, 2017
927.80
1,001.20
927.80
994.62
994.62
76,202,000
Apr 01, 2017
888.00
949.59
884.49
924.99
924.99
73,539,700
Mar 01, 2017
853.05
890.35
833.50
886.54
886.54
60,710,700
Feb 01, 2017
829.21
860.86
803.00
845.04
845.04
71,748,300
Jan 01, 2017
757.92
843.84
747.70
823.48
823.48
70,614,000
Dec 01, 2016
752.41
782.46
736.70
749.87
749.87
73,660,200
Nov 01, 2016
799.00
800.84
710.10
750.57
750.57
110,085,900
Oct 01, 2016
836.00
847.21
774.61
789.82
789.82
77,063,800
Sep 01, 2016
770.90
839.95
756.00
837.31
837.31
67,335,700
Aug 01, 2016
759.87
774.98
750.35
769.16
769.16
50,000,400
Jul 01, 2016
717.32
766.00
716.54
758.81
758.81
68,635,500
Jun 01, 2016
720.90
731.50
682.12
715.62
715.62
74,540,900
May 01, 2016
663.92
724.23
656.00
722.79
722.79
90,614,500
Apr 01, 2016
590.49
669.98
585.25
659.59
659.59
78,464,200
Mar 01, 2016
556.29
603.24
538.58
593.64
593.64
94,009,500
Feb 01, 2016
578.15
581.80
474.00
552.52
552.52
124,144,800
Jan 01, 2016
656.29
657.72
547.18
587.00
587.00
130,200,900

In [96]:
# Let's generate the table now
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])
for row in beautiful_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [97]:
# Check the data
amazon_data.head(50)

,Date,Open,High,Low,Close,Volume,Adj Close
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","71,528,900","3,206.20"
1,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","77,556,200","3,256.93"
2,"Nov 01, 2020","3,061.74","3,366.80","2,950.12","3,168.04","90,810,500","3,168.04"
3,"Oct 01, 2020","3,208.00","3,496.24","3,019.00","3,036.15","116,226,100","3,036.15"
4,"Sep 01, 2020","3,489.58","3,552.25","2,871.00","3,148.73","115,899,300","3,148.73"
5,"Aug 01, 2020","3,180.51","3,495.00","3,073.00","3,450.96","83,516,600","3,450.96"
6,"Jul 01, 2020","2,757.99","3,344.29","2,754.00","3,164.68","127,502,000","3,164.68"
7,"Jun 01, 2020","2,448.00","2,796.00","2,437.13","2,758.82","87,818,300","2,758.82"
8,"May 01, 2020","2,336.80","2,525.45","2,256.38","2,442.37","82,584,400","2,442.37"
9,"Apr 01, 2020","1,932.97","2,475.00","1,889.15","2,474.00","124,609,800","2,474.00"
10,"Mar 01, 2020","1,906.49","1,996.33","1,626.03","1,949.72","163,809,100","1,949.72"
11,"Feb 01, 2020","2,010.60","2,185.95","1,811.13","1,883.75","92,510,100","1,883.75"
12,"Jan 01, 2020","1,875.00","2,055.72","1,815.34","2,008.72","84,698,300","2,008.72"
13,"Dec 01, 2019","1,804.40","1,901.40","1,735.00","1,847.84","68,149,600","1,847.84"
14,"Nov 01, 2019","1,788.01","1,824.69","1,722.71","1,800.80","52,076,200","1,800.80"
15,"Oct 01, 2019","1,746.00","1,798.85","1,685.06","1,776.66","70,360,500","1,776.66"
16,"Sep 01, 2019","1,770.00","1,853.66","1,709.22","1,735.91","61,172,900","1,735.91"
17,"Aug 01, 2019","1,871.72","1,897.92","1,743.51","1,776.29","79,771,200","1,776.29"
18,"Jul 01, 2019","1,922.98","2,035.80","1,849.44","1,866.78","73,148,800","1,866.78"
19,"Jun 01, 2019","1,760.01","1,935.20","1,672.00","1,893.63","74,746,500","1,893.63"
20,"May 01, 2019","1,933.09","1,964.40","1,772.70","1,775.07","98,214,400","1,775.07"
21,"Apr 01, 2019","1,800.11","1,956.34","1,798.73","1,926.52","81,239,200","1,926.52"
22,"Mar 01, 2019","1,655.13","1,823.75","1,586.57","1,780.75","100,832,200","1,780.75"
23,"Feb 01, 2019","1,638.88","1,673.06","1,566.76","1,639.83","80,936,900","1,639.83"
24,"Jan 01, 2019","1,465.20","1,736.41","1,460.93","1,718.73","134,001,700","1,718.73"
25,"Dec 01, 2018","1,769.46","1,778.34","1,307.00","1,501.97","154,812,700","1,501.97"
26,"Nov 01, 2018","1,623.53","1,784.00","1,420.00","1,690.17","139,290,000","1,690.17"
27,"Oct 01, 2018","2,021.99","2,033.19","1,476.36","1,598.01","183,220,800","1,598.01"
28,"Sep 01, 2018","2,026.50","2,050.50","1,865.00","2,003.00","94,445,500","2,003.00"
29,"Aug 01, 2018","1,784.00","2,025.57","1,776.02","2,012.71","96,575,800","2,012.71"
30,"Jul 01, 2018","1,682.70","1,880.05","1,678.06","1,777.44","97,521,100","1,777.44"
31,"Jun 01, 2018","1,637.03","1,763.10","1,635.09","1,699.80","85,941,300","1,699.80"
32,"May 01, 2018","1,563.22","1,635.00","1,546.02","1,629.62","71,615,500","1,629.62"
33,"Apr 01, 2018","1,417.62","1,638.10","1,352.88","1,566.13","129,919,600","1,566.13"
34,"Mar 01, 2018","1,513.60","1,617.54","1,365.20","1,447.34","130,400,100","1,447.34"
35,"Feb 01, 2018","1,445.00","1,528.70","1,265.93","1,512.45","137,784,000","1,512.45"
36,"Jan 01, 2018","1,172.00","1,472.58","1,170.51","1,450.89","96,371,200","1,450.89"
37,"Dec 01, 2017","1,172.05","1,194.78","1,124.74","1,169.47","57,760,200","1,169.47"
38,"Nov 01, 2017","1,105.40","1,213.41","1,086.87","1,176.75","77,165,000","1,176.75"
39,"Oct 01, 2017",964.00,"1,122.79",950.37,"1,105.28","83,334,100","1,105.28"
40,"Sep 01, 2017",984.20,"1,000.00",931.75,961.35,"59,291,800",961.35
41,"Aug 01, 2017",996.11,"1,006.40",936.33,980.60,"77,391,800",980.60
42,"Jul 01, 2017",972.79,"1,083.31",951.00,987.78,"78,812,400",987.78
43,"Jun 01, 2017",998.59,"1,017.00",927.00,968.00,"96,135,400",968.00
44,"May 01, 2017",927.80,"1,001.20",927.80,994.62,"76,202,000",994.62
45,"Apr 01, 2017",888.00,949.59,884.49,924.99,"73,539,700",924.99
46,"Mar 01, 2017",853.05,890.35,833.50,886.54,"60,710,700",886.54
47,"Feb 01, 2017",829.21,860.86,803.00,845.04,"71,748,300",845.04
48,"Jan 01, 2017",757.92,843.84,747.70,823.48,"70,614,000",823.48
49,"Dec 01, 2016",752.41,782.46,736.70,749.87,"73,660,200",749.87